.boxElement_img {
    width: 30%;
    background-color: #6cb1a8;
    border-radius: 5px;
}

.boxElement_content {
    width: 90%;
    height: auto;
    min-height: 200px;
    border-top: 1px solid rgb(49, 150, 153);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}

.content_descripcion {
    width: 60%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    padding-left: 30px;
}

.portfolio-boxElement {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 50px;
    flex-wrap: wrap;

}

.portfolio-element {
    width: 100%;
    min-width: 330px;
    /*height: 350px;*/
    height: auto;
    padding-bottom: 20px;
    background-color: #fafcfc;
    border-radius: 15px;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #6cb1a8;
}

.boxTitlePortfolio{
    
    height: 70px;
    border-radius: 15px 15px 0px 0px;
    background-color: #42ebd1;
    margin-top: 30px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    padding-left: 15px;
    padding-right: 15px;

}

.portfolio-botonera {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.btn-element {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #125555;
    color: #fafcfc;
}

.btn-element:hover {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #125555;
    color: #fafcfc;
}

@media (max-width: 600px) {
    .boxElement_img {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        /* border: 1px solid red;*/
    }

    .boxElement_content {
        height: auto;
    }

}