#portfolio {
    width: 100%;
    font-family: 'Montserrat';
    font-weight: bold;

}

.box {
    width: 100%;
    height: auto;
    padding: 50px 0px 50px 0px;
    text-align: center;

}


.portfolio-boxPresentacion {
    background-color: #27665e;
    color: white;
}

.seccionesPortfolio {
    position: relative;
    width: 75%;
    min-width: 320px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    /*border: 1px solid red;*/

}

.seccionPortfolio {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 31%;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: #00be9f;
    font-size: 1em;
    border-radius: 10px;

}

.seccionPortfolio:hover {
    color: white;
    background-color: #55978c;

}

.portfolio-presentacion {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-boxJuegos {
    background-color: #0ca893;
}

.portfolio-juego {
    width: 32%;
}

.portfolio-boxAPIS {
    background-color: #78bbb2;
}

.portfolio-API {
    width: 45%;
}

.portfolio-boxLanding {
    background-color: #9fb8b4;
}

.portfolio-LandinPage {
    width: 45%;

}

@media (max-width: 500px) {
    .seccionPortfolio {
        font-size: 0.8em;

    }

    .titulo {
        font-size: 1.5em;
    }

    .text-content {
        font-size: 1.1em;
    }

}