.body-sobreMi {
   background-color:  rgb(39,102,94);
}

.sobreMi-boxPresentacion {
    background-color: rgb(39, 102, 94);
    color: white;
}

.sobreMi-presentacion {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.sobreMi-A {
    text-align: center;
}






