body {
    width: auto;
    height: auto;
}
#stack {
    width: 100%;
    font-family: 'Montserrat';
    font-weight: bold;

}

img {
    padding: 10px;
}

.section_one {
    background-color: #27665e;
    padding-bottom: 0px;
}

.section_two {
    background-color: #0ca893;
    padding-bottom: 0px;
}

.section_three {
    background-color: #78bbb2;
    padding-bottom: 0px;
}

.title {
    position: relative;
    width: 90%;
    top: 40%;
    font-size: 3em;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    color: white;

}

.box_front {
    position: relative;
    width: 80%;
    height: auto;
    padding: 2.8em;
    margin: 0.5em auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*border: 1px solid rgb(253, 253, 253);*/

}

.tecnologia {
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    min-height: 135px;
    margin: auto;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 10px;
}

.logo {
    position: relative;
    width: 10%;
    margin-left: 10px;

}

.tecnologia_content {
    width: 70%;
    margin: auto;
    color: white
}

.box_back {
    position: relative;
    width: 35em;
    height: 10em;
    padding: 2.8em;
    border: dashed 1px;
    margin: 1.75em auto 0;
    margin-top: 100px;

}

.box_back img {
    width: 20%;
    height: auto;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 10px;
    background-color: aliceblue;

}






.box_despliegue {
    position: relative;
    width: 35em;
    height: auto;
    padding: 2em;
    border: dashed 1px;
    border-radius: 20px;
    margin: 1.75em auto 0;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}

.box_despliegue img {
    width: 20%;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 10px;
    background-color: aliceblue;
}



@media (max-width: 650px) {
    .title {
        width: 90%;
        margin-bottom: 20px;
    }

    .box_front {
        position: relative;
        width: 60%;
        height: auto;
        border: dashed 1px;
        border-radius: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .box_front img {
        width: 25%;
        min-width: 70px;
        position: unset;
        border: 1px solid rgb(253, 253, 253);
        border-radius: 10px;
        margin: auto;
        margin-top: 15px;
    }



    .box_back {
        position: relative;
        width: 60%;
        height: auto;
        padding: 2.8em;
        border: dashed 1px;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .box_back img {
        width: 30%;
        margin: auto;
        border: 1px solid rgb(253, 253, 253);
        border-radius: 10px;
        margin-top: 15px;
        position: unset;

    }

    .pos0 {
        position: relative;

    }

    .pos1 {
        position: relative;
    }

    .pos2 {
        position: relative;
    }

    .pos3 {
        position: relative;
    }

    .box_despliegue {
        position: relative;
        width: 60%;
        height: auto;
        padding: 2em;
        border: dashed 1px;
        margin: 1.75em auto 0;
        margin-top: 150px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

    }

    .box_despliegue img {
        width: 20%;
        border: 1px solid rgb(253, 253, 253);
        border-radius: 10px;
    }

}






/*
.deg0 { transform: translate(12em); }
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg90 {transform: rotate(90deg) translate(12em) rotate(-90deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg270 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }
*/